<!DOCTYPE html>
<html>
  <head>
    <title>MariosFoods</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Mario's Specialty Foods Store</h1>
      </div>
      <ul>
        <a href="/">Home</a> |
        <a href="/products">View Products</a> |
        <a href="/products/local">Local Products</a>
      </ul>
      <%= flash[:alert] %>
      <%= flash[:notice] %>
      <%= yield %>
    </div>
  </body>
</html>
